<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nuonuo.mapper.orderMapper">

    <select id="getDistinctTaxByRetaiCode" parameterType="java.lang.String" resultType="java.util.Map">
        select t3.appKey,t3.appSecret,t3.companytaxnum as taxnum,t3.token
        from re_retail t1,AA_distinct t2,xxx_code_token t3
        where t1.iddistinct = t2.id and t2.id = t3.iddistinct
        and t1.code = #{code}
    </select>

    <select id="getRedetailMap" parameterType="java.lang.String" resultType="java.util.Map">
        select sum(t2.taxamount) as totalAmount, max(t3.name) as storename,max(t1.code) as code,
               MAX(CONVERT(varchar(100), t1.createdtime, 20)) as voucherdate
        from re_retail t1,re_retail_b t2,AA_DR_Store t3
        where t1.code = #{code} and t1.id = t2.idRetailDTO and t1.idstore = t3.id
        group by t1.id
    </select>

    <select id="getAllTaxList" resultType="java.util.Map">
        select iddistinct,appKey,appSecret,token,companytaxnum
        from xxx_code_token
        order by id asc
    </select>

    <update id="updateTokenByAppKey" parameterType="java.lang.String">
        update xxx_code_token set token = #{newToken} where appKey = #{appKey}
    </update>

    <select id="getRetailDetailListByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select t3.name as goodsname,t2.quanity,t2.taxamount,t4.name as unitname
        from re_retail t1,re_retail_b t2 ,AA_inventory t3,AA_unit t4
        where t1.id = t2.idRetailDTO and t1.code = #{code} and t2.idInventory = t3.id
        and t3.idUnit = t4.id
    </select>
</mapper>