<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nuonuo.mapper.orderMapper">

    <select id="getDBtest" resultType="java.lang.String">
        select token from XXX_Ecode_token
    </select>

    <select id="getDBAllOrgList" resultType="java.util.Map">
        select id_num,code,AppKey,AppSecret,access_token,refresh_token,user_id,org_id,app_name,update_time from XXX_code_token
    </select>

    <select id="getDBAllOrgListByappKey" resultType="java.util.Map" parameterType="java.lang.String">
        select top 1
        id_num,code,AppKey,AppSecret,access_token,refresh_token,user_id,org_id,app_name,update_time
        from XXX_code_token
        where AppKey = #{appKey}
    </select>

    <update id="updateOrgToken" parameterType="java.util.Map">
        update XXX_code_token
        set access_token = #{access_token},refresh_token = #{refresh_token},update_time = GETDATE()
        where org_id = #{org_id}
    </update>


    <update id="updateEOrgToken" parameterType="java.util.Map">
        update XXX_Ecode_token
        set token = #{token},create_time = GETDATE()
        where tenantid = #{tenantid}
    </update>

    <select id="getRedetailMap" parameterType="java.lang.String" resultType="java.util.Map">
        select  TOP 1
            Convert(decimal(18,2),sum(t2.taxamount)) as totalAmount, max(t3.name) as storename,max(t1.code) as code,
               MAX(CONVERT(varchar(100), t1.createdtime, 20)) as voucherdate,
			   MAX(t4.AppKey) AS AppKey,max(t4.AppSecret) as AppSecret,
			   max(t4.companytaxnum) as taxnum,max(t4.token) as token
        from re_retail t1,re_retail_b t2,AA_DR_Store t3,nuonuo_code_token t4
        where t1.code = #{code}  and t1.id = t2.idRetailDTO and t1.idstore = t3.id AND t3.iddistrict = t4.iddistrict
        group by t1.id
    </select>

    <select id="getAllTaxList" resultType="java.util.Map">
        select iddistrict,appKey,appSecret,token,companytaxnum
        from nuonuo_code_token
    </select>

    <update id="updateTokenByAppKey" parameterType="java.lang.String">
        update nuonuo_code_token set token = #{newToken} where appKey = #{appKey}
    </update>

    <select id="getRetailDetailListByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select t3.name as goodsname,t2.quantity,t2.taxamount,t4.name as unitname,t3.priuserdefnvc1 as ssflbm
        from re_retail t1,re_retail_b t2 ,AA_inventory t3,AA_unit t4
        where t1.id = t2.idRetailDTO and t1.code = #{code} and t2.idInventory = t3.id
        and t3.idUnit = t4.id
    </select>


    <select id="getTokenByAppKey" parameterType="java.lang.String" resultType="java.lang.String">
        select access_token from XXX_code_token where AppKey = #{AppKey}
    </select>

    <select id="getTSaListByCode" parameterType="java.lang.String" resultType="java.util.Map">
		select t1.code,t2.idinventory,t3.code as inventoryCode,t2.id as iddetail,t3.idunit as unitname,t2.quantity,t2.origTaxPrice,
		t5.code as personcode,t4.code as departmentcode ,t6.code as partnercode ,t7.name as unitname,t2.id as sourceDetailId
        from SA_SaleOrder t1,SA_SaleOrder_b t2,AA_inventory t3,AA_Department t4,AA_Person t5,AA_PartnerEntity t6,AA_Unit t7
        where t1.id = t2.idSaleOrderDTO and t1.code = #{code} and t2.idinventory= t3.id and t1.iddepartment = t4.id
		and t1.idclerk = t5.id and t1.idcustomer = t6.id and t3.idunit = t7.id
    </select>

    <select id="getTscListByCode" parameterType="java.lang.String" resultType="java.util.Map">
        select t1.code,t2.idManufactureOrderDTO,t3.code as inventoryCode,t2.id as iddetail,t3.idunit as unitname,t2.quantity
        from MP_ManufactureOrder t1,MP_ManufactureOrder_b t2,AA_inventory t3
        where t1.id = t2.idManufactureOrderDTO and t1.code = #{code} and t2.idinventory= t3.id
    </select>

    <select id="getTdeparmtClerkByMobile" parameterType="java.lang.String" resultType="java.util.Map">
        select t2.name as departMentName,t2.code as departMentCode,t1.name as clerkName,t1.code as clerkCode
        from AA_Person t1,AA_department t2
        where t1.name = #{name} and t1.iddepartment = t2.id
    </select>

    <select id="getEtoken" resultType="java.lang.String">
        select top 1 token from XXX_Ecode_token
    </select>

    <select id="getTMapByOfficeId" parameterType="java.lang.String" resultType="java.util.Map">
        select top 1 AppKey,AppSecret,access_token  from XXX_code_token where officeid = #{officeid}
    </select>

    <select id="getTinventoryByName" parameterType="java.lang.String" resultType="java.util.Map">
        select top 1
        t1.code ,t2.name as  unitName
        from AA_inventoryEntity t1,AA_Unit t2
        where t1.name = #{name} and t1.idUnit = t2.id
    </select>

    <select id="getCkByInventyCodes" parameterType="java.lang.String" resultType="java.util.Map">
        select
            t3.code as WarehouseCode,t1.code as ckinventoryCode,
            sum(t2.CanuseBaseQuantity) as AvailableQuantity,
            sum(t2.CanuseSubQuantity) as AvailableSubQuantity,
            max(t6.isMainUnit) as isMainUnit,
            t2.batch as Batch,t2.freeItem0 as freeitem0Value
        from AA_InventoryEntity t1,ST_CurrentStock t2 ,AA_Warehouse t3,SA_SaleDelivery_b t4,SA_SaleDelivery t5,AA_Unit t6
        where t1.id = t2.idinventory and t2.idwarehouse = t3.id and t1.code in ${inventoryCodes}
        and t2.idinventory = t4.idinventory and t4.idSaleDeliveryDTO = t5.id and t5.code = #{sacode} and t4.idunit = t6.id
        and t2.CanuseBaseQuantity > 0
        group by t3.code,t1.code,t2.batch,t2.freeItem0
        order by t2.batch asc
    </select>
</mapper>